.logo-container {
    z-index: -99999;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: -10%;
    bottom: 0;
    left: auto;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .logo-container {
        right: -110%;
    }
}
